<div class="container mt-5">
    <div class="h1 text-center mb-3">MANAGEMENT BOOK</div>
    <div class="row">
        <div class="col-md-2">ค้นหาข้อมูลตาม ID : </div>
        <div class="col-md-8"><input type="text" class="form-control"></div>
        <div class="col-md-2"><div class="btn btn-info text-light">ค้นหา</div></div>
    </div>

    <hr>
    <form [formGroup] = "bookForm">
        <div class="row">
            <div class="col-md-1 mt-3">รหัสหนังสือ : </div>
            <div class="col-md-11 mt-3"><input type="text" class="form-control" formControlName="book_id"></div>

            <div class="col-md-1 mt-3">ชื่อหนังสือ : </div>
            <div class="col-md-11 mt-3"><input type="text" class="form-control" formControlName="name"></div>

            <div class="col-md-1 mt-3">ผู้แต่ง : </div>
            <div class="col-md-11 mt-3"><input type="text" class="form-control" formControlName="author"></div>

            <div class="col-md-1 mt-3">สำนักพิมพ์ : </div>
            <div class="col-md-11 mt-3"><input type="text" class="form-control" formControlName="publisher"></div>

            <div class="col-md-1 mt-3">ราคา : </div>
            <div class="col-md-11 mt-3"><input type="text" class="form-control" formControlName="price"></div>

            <div class="btn btn-success mt-3" (click)="btnEvent()">{{btnText}}</div>
        </div>
    </form>
    <div class="h3 text-center mt-5">ตารางแสดงข้อมูล</div>
    <table class="text-center table table-striped|sm|bordered|hover|inverse table-inverse table-responsive  mt-5">
        <thead class="thead-inverse|thead-default">
            <tr>
                <th>รหัสหนังสือ</th>
                <th>ชื่อหนังสือ</th>
                <th>ผู้แต่ง</th>
                <th>สำนักพิมพ์</th>
                <th>ราคา</th>
                <th>แก้ไข</th>
                <th>ลบ</th>
            </tr>
            </thead>
            <tbody>
                <tr  *ngFor="let book of books">
                    <td scope="row">{{book.book_id}}</td>
                    <td>{{book.name}}</td>
                    <td>{{book.author}}</td>
                    <td>{{book.publisher}}</td>
                    <td>{{book.price}}</td>
                    <td><div class="btn btn-info" (click)="editBook(book._id)">แก้ไข</div></td>
                    <td><div class="btn btn-danger" (click)="deleteBook(book._id)">ลบ</div></td>
                </tr>
            </tbody>
    </table>
    

</div>
